.productReviewContainer{
    overflow: hidden;
    border: 1px solid #f0f0f0;
    padding: 24px 24px 10px 24px;
}
.ratingReview{
    display: flex;
    background: #388e3c;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    border-radius: 3px;
    padding: 2px 5px;
    width: 20px;
}